.calander {
    display: flex;
    place-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    background: #f7f4f4;
}

.calander__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #025514;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    font-size: large;
    font-weight: bold;
}

.calander__header button {
    background:none;
    border: none;
    color: #fff;
    border-radius: 10%;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.8;
}

.calander__days {
    width: 100%;
    display: flex;
    background: #f0f0f0;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.calander__day {
    width: 14.28%;
    padding: 10px;
    border: 2px solid #5e4001;
    color: black;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    opacity: 0.8;
    border-radius: 5px;
    background-color: #e3f3bf;
}

.sunday, .saturday{
    color: #ff3300;
    width: 14.28%;
    padding: 10px;
    border: 2px solid #5e4001;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    opacity: 0.8;
    border-radius: 5px;
    background-color: #e3f3bf;
    cursor: pointer;
}

.calander__dates, .calander__empty__date {
    width: 100%;
    color: rgb(220, 241, 142);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-size: bold;
    opacity: 0.8;
}

.calander__empty__date {
    width: 14.28%;
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.8;
    border-radius: 5px;
}

.calander__date {
    width: 14.28%;
    padding: auto;
    box-sizing: border-box;
    background-color: #eef8c2;
    color:black;
    border: 2px solid #f8f8f8;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    opacity: 0.8;
    border-radius: 5px;
    display: grid;
    flex-direction: column;
    overflow-wrap: normal;
    place-content: center;
}

.weekend, .holiday { 
    width: 14.28%;
    padding: auto;
    box-sizing: border-box;
    background-color: #f8c2c2;
    color: var(--holiday-color, #ff0000);
    background-color: #eef8c2;
    border: 2px solid #f8f8f8;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    opacity: 0.8;
    border-radius: 5px;
    display: grid;
    flex-direction: column;
    overflow-wrap: normal;
    place-content: center;
}

.today { 
    width: 14.28%;
    padding: auto;
    box-sizing: border-box;
    font-weight: 600px;
    font-size: 16px;
    color: var(--today-color, #ffffff);
    border: 2px solid #b8f893;
    background-color: #7c8a02;
    border-radius: 15%;
    text-align: center;
    justify-content: center;
    display: grid;
    flex-direction: column;
    overflow-wrap: normal;
    place-content: center;
}

.holiday__name:hover, .holiday__name__text:hover, .holiday:hover  { 
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size:small;
    font-weight: bold;
    cursor: pointer;
}

.calander__icon {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    border-radius: 50%;
}

.calander__current__month{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #edf1f0;
    width: 50%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #7c8a02;
    border-radius: 10%;
}

.holiday__name {
    font-size: 16px;
    font-weight: smaller;
    text-align: center;
    color: #ff3300;;
  }

  .holiday__name__text {
    color: #ff3300;;
    font-size: 8px;
    font-weight: small;
    text-align: center;
  }